<launch>
  <arg name="robot_name" default="beep" />
  <arg name="sim" default="false" />
  <arg name="standalone" default="true" />

  <include file="$(find tilt_driver)/launch/tilt_driver.launch">
    <arg name="robot_name" value="$(arg robot_name)"/> 
    <arg name="sim" value="$(arg sim)" />
    <arg name="standalone" value="$(arg standalone)" />
  </include>

  <include file="$(find pan_driver)/launch/pan_driver.launch">
  	<arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="sim" value="$(arg sim)" />
    <arg name="standalone" value="$(arg standalone)" />
  </include>

</launch>
