<launch>
  <arg name="robot_name" default="beep" />
  <arg name="sim" default="false" />
  <arg name="standalone" default="true" />


  <param if="$(arg standalone)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find poli2_description)/robots/$(arg robot_name).urdf.xacro'" />

  <group ns="tilt_motor">

    <node unless="$(arg sim)" name="tilt_motor_driver" pkg="epos_hardware" type="epos_hardware_node" args="tilt_joint_motor" output="screen">
      <remap from="robot_description" to="/robot_description" />
      <rosparam command="load" file="$(find tilt_driver)/config/$(arg robot_name)_tilt_driver.yaml" />
    </node>

    <node if="$(arg sim)" name="tilt_motor_sim" pkg="basic_sim" type="sim_node" output="screen">
      <rosparam command="load" file="$(find tilt_driver)/config/sim_tilt_driver.yaml" />
    </node>

    <rosparam command="load" file="$(find tilt_driver)/config/controllers.yaml" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args="joint_state_controller position_controller">
    </node>
  </group>

</launch>

