<launch>
  <arg name="robot_name" default="beep" />
  <arg name="sim" default="false" />
  <arg name="standalone" default="true" />

  <remap from="joint_states" to="tilt_motor/joint_states"/>
  <node unless="$(arg sim)" name="tilt_motor" pkg="epos_hardware" type="epos_hardware_node" args="tilt_joint_motor" output="screen">
    <rosparam command="load" file="$(find tilt_driver)/config/tilt_driver.yaml" />
  </node>

  <node if="$(arg sim)" name="tilt_motor" pkg="basic_sim" type="sim_node" output="screen">
    <rosparam command="load" file="$(find tilt_driver)/config/sim_tilt_driver.yaml" />
    <param name="load_urdf" value="$(eval not standalone)" />
  </node>

  <group ns="tilt_motor">
    <rosparam command="load" file="$(find tilt_driver)/config/controllers.yaml" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args="joint_state_controller position_controller">
    </node>
  </group>

</launch>

